.backgroundImage{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
       
}
.mission{
    padding-left: 30px;
   border-radius: 30px;
   width: 600px;
   background-color: green;
   font-size: 20px;
   
}
.vision{
    padding-left: 30px;
    border-radius: 30px;
    width: 600px;
    background-color: green;
    font-size: 20px;

}
 @media  screen and (max-width:600px) and (min-width:375px) {
.backgroundImage{
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    justify-content: space-around;
    width: 70px;
    margin-left: 26px;
}
.vision{
    padding-left: 30px;
    border-radius: 30px;
    width: 300px;
    background-color: green;
    font-size: 20px;

}
.mission{
    padding-left: 30px;
   border-radius: 30px;
   width: 300px;
   background-color: green;
   font-size: 20px;
   
}

}
@media  screen and (max-width:896px) and (min-width:414px) {
    .backgroundImage{
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        justify-content: space-around;
        width: 70px;
        margin-left: 45px;
    }
}
@media  screen and (max-width:844px) and (min-width:390px) {
    .backgroundImage{
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        justify-content: space-around;
        width: 70px;
        margin-left: 33px;
    }


}

@media  screen and (max-width:932px) and (min-width:430px) {
    .backgroundImage{
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        justify-content: space-around;
        width: 70px;
        margin-left: 50px;
    }


}

@media  screen and (max-width:720px) and (min-width:540px) {
    .backgroundImage{
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        justify-content: space-around;
        width: 70px;
        margin-left: 40px;
    }
    .vision{
        padding-left: 30px;
        border-radius: 30px;
        width: 950px;
        background-color: green;
        font-size: 20px;
    
    }
    .mission{
        padding-left: 30px;
       border-radius: 30px;
       width: 450px;
       background-color: green;
       font-size: 20px;
       
    }


}


@media  screen and (max-width:1368px) and (min-width:912px) {
    .backgroundImage{
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        justify-content: space-around;
        width: 70px;
        margin-left: 70px;
    }
    .vision{
        padding-left: 30px;
        border-radius: 30px;
        width: 750px;background-color: green;
        font-size: 30px;
    
    }
    .mission{
        padding-left: 30px;
       border-radius: 30px;
       width: 750px;
       background-color: green;
       font-size: 30px;
       
    }
}


@media  screen and (max-width:740px) and (min-width:360px) {
    .backgroundImage{
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        justify-content: space-around;
        width: 70px;
        margin-left: 14px;
    }
    .vision{
        padding-left: 30px;
        border-radius: 30px;
        width: 300px;background-color: green;
        font-size: 20px;
    
    }
    .mission{
        padding-left: 30px;
       border-radius: 30px;
       width: 300px;
       background-color: green;
       font-size: 20px;
       
    }
}

@media  screen and (max-width:915px) and (min-width:412px) {
    .backgroundImage{
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        justify-content: space-around;
        width: 70px;
        margin-left: 38px;
    }
    .vision{
        padding-left: 30px;
        border-radius: 30px;
        width: 300px;background-color: green;
        font-size: 20px;
    
    }
    .mission{
        padding-left: 30px;
       border-radius: 30px;
       width: 300px;
       background-color: green;
       font-size: 20px;
       
    }
}
