.about {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #39a23c1a;
}

#heading {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

p br {
    margin-bottom: 10px;
}

/* Media Queries for different screen sizes */
@media only screen and (max-width: 320px) {
    .about {
        padding: 2px;
    }
    #heading {
        font-size: 14px;
    }
    p {
        font-size: 10px;
        line-height: 14px;
    }
}
@media only screen and (max-width: 480px) {
    .about {
        padding: 5px;
    }
    #heading {
        font-size: 16px;
    }
    p {
        font-size: 12px;
        line-height: 18px;
    }
}

@media only screen and (max-width: 768px) {
    .about {
        padding: 10px;
    }
    #heading {
        font-size: 18px;
    }
    p {
        font-size: 14px;
        line-height: 20px;
    }
}


