.body{
  margin-bottom: 4%;
}
#heading{
  text-align: center;
  font-size: 36px;
}

.aboutus{
padding: 20px;
border: solid 1px gray;
border-radius: 20px;
font-size: 24px;
color: black;
margin: 0 10%;
}

 
/* Media query for screens up to 1200px (e.g., large desktops) */
@media (max-width: 1200px) {
  .aboutus {
    padding: 25px;
    border-radius: 18px;
    font-size: 22px;
    margin: 0 8%;
  }
}

/* Media query for screens up to 992px (e.g., small desktops) */
@media (max-width: 992px) {
  .aboutus {
    padding: 22px;
    border-radius: 16px;
    font-size: 20px;
    margin: 0 6%;
  }
}

/* Media query for screens up to 768px (e.g., tablets) */
@media (max-width: 768px) {
  .aboutus {
    padding: 20px;
    border-radius: 15px;
    font-size: 18px;
    margin: 0 5%;
  }
}

/* Media query for screens up to 576px (e.g., small tablets and large smartphones) */
@media (max-width: 576px) {
  .aboutus {
    padding: 18px;
    border-radius: 12px;
    font-size: 16px;
    margin: 0 3.5%;
  }
}

/* Media query for screens up to 480px (e.g., smartphones) */
@media (max-width: 480px) {
  .aboutus {
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
    margin: 0 2.5%;
  }
}