.icons{ 
     font-size: 35px;
     margin: 6px;
} 

 .pins{   
     width: 25px;
     }  

  .email{  
     width: 25px; 
    }  

.umuhinzi{    
       width: 150px;  
       margin-left: 90px;
       margin-bottom: 5px;  
      }

.content{   
         margin-top: 20px;         
      }

.socialmedia{ 
      display: flex;   
      gap: 10%;  
      margin-left: 25px; 
      margin-bottom: 40px; 
    }  

    .contacts{   
      display: flex;  
      gap: 20px; 
      margin-top: -4px; 
      
   }  
   
   .contactheading{
      margin-top: 80px;
   }
   
   
.contactstext{ 
      padding-left: 100px;
      margin-left: 80px;
   } 
   
   .exploretext{  
      margin-top: 70px;
   } 

   .phonepin{  
         font-size: 20px;
         margin-top: 17px;
   }  

   .explorecontent{  
      margin-top: 4px;
   } 
   
    .first{     
      background-color: #163E5F;  
      display: flex;       
      color: white;
      list-style-type: none; 
      font-size: 15px;
      padding-right: 80px;
      
      }       
 
   .logos{
    gap: 5px;   
    display: flex; 
    margin-right: 0px; 
   }
   .footer{
      padding-right: 10%;
   }
   .explore{
      padding-right: 5px;
      margin-top: 80px;
   }

   @media screen and (min-width:280px) and (max-width:360px){
      .first{     
         background-color: #163E5F;  
         flex-direction: column;       
         color: white;
         list-style-type: none; 
         font-size: 20px;
         padding-right: 80px;
         width: 329px;

         
         } 
   
            .umuhinzi{
               margin-left: 130px;
            }
   
            .explore{
               text-align: center;
               margin-left: 100px;
               margin-top: -0px;
            }
   
            .explorecontent, .exploretext{
               margin-top: -10px;
            }
   
   
   
            .contactstext{
               white-space: nowrap;
               margin-top: -9px;           
            }
   
            .contactheading{
               margin-left: -30px;
            }
   
            .contacts{
               margin-left: -150px;
            }
   
            .content{
               text-align: center;
               margin-left: 20px;
               white-space: nowrap;
            }
   
            .icons{
               font-size: 30px;
            }
   
            .socialmedia{
               margin-left: 100px;
            }

   }


   @media screen and (min-width:361px) and (max-width:480px){
      .first{     
         background-color: #163E5F;  
         flex-direction: column;       
         color: white;
         list-style-type: none; 
         font-size: 15px;
         padding-right: 80px;
         
         
         } 

         .umuhinzi{
            margin-left: 50%;
         }

         .explore{
            text-align: center;
            margin-left: 100px;
            margin-top: -0px;
         }

         .explorecontent, .exploretext{
            margin-top: -10px;
         }



         .contactstext{
            white-space: nowrap;
            margin-top: -9px;           
         }

         .contactheading{
            margin-left: -10px;
         }

         .contacts{
            margin-left: -100px;
         }

         .content{
            text-align: center;
            margin-left: 60px;
            white-space: nowrap;
         }

         .icons{
            font-size: 30px;
         }

         .socialmedia{
            margin-left: 100px;
         }

        
      
   }


   @media screen and (min-width:481px) and (max-width:680px){
      .first{     
         background-color: #163E5F;  
         flex-direction: column;       
         color: white;
         list-style-type: none; 
         font-size: 15px;
         padding-right: 80px; 
         width: 459px;        
         } 
      
      
   
            .umuhinzi{
               margin-left: 130px;
            }
   
            .explore{
               text-align: center;
               margin-left: 100px;
            }
   
            .explorecontent, .exploretext{
               margin-top: -20px;
            }
   
   
   
            .contactstext{
               white-space: nowrap;
               margin-top: -9px;           
            }
   
            .contactheading{
               margin-left: 55px;
            }
   
            .contacts{
               margin-left: -50px;
            }
   
            .content{
               text-align: center;
               margin-left: 30px;
               white-space: nowrap;
            }
   
            .icons{
               font-size: 30px;
            }
   
            .socialmedia{
               margin-left: 100px;
            }
   }

   @media screen and (min-width:681px) and (max-width:880px){
      .first{     
         background-color: #163E5F;  
         flex-direction: column;       
         color: white;
         list-style-type: none; 
         font-size: 15px;
         padding-right: 80px;
         width: 376px;
         
         }         
   
            .umuhinzi{
               margin-left: 130px;
            }
   
            .explore{
               text-align: center;
               margin-left: 100px;
            }
   
            .explorecontent, .exploretext{
               margin-top: -10px;
            }
   
   
   
            .contactstext{
               white-space: nowrap;
               margin-top: -9px;           
            }
   
            .contactheading{
               margin-left: 55px;
            }
   
            .contacts{
               margin-left: -50px;
            }
   
            .content{
               text-align: center;
               margin-left: 30px;
               white-space: nowrap;
            }
   
            .icons{
               font-size: 30px;
            }
   
            .socialmedia{
               margin-left: 100px;
            }
      
   }

   @media screen and (min-width:881px) and (max-width:1020px){
      .first{     
         background-color: #163E5F;  
         flex-direction: column;       
         color: white;
         list-style-type: none; 
         font-size: 40px;
         padding-right: 80px;        
         
         }          
   
            .umuhinzi{
               margin-left: 300px;
               width: 200px;
            }
   
            .explore{
               text-align: center;
               margin-left: 100px;
               margin-top: -0px;
            }
   
            .explorecontent, .exploretext{
               margin-top: -10px;
            }
   
   
   
            .contactstext{
               white-space: nowrap;
               margin-top: -9px;           
            }
   
            .contactheading{
               margin-left: 130px;
            }
   
            .contacts{
               margin-left: -70px;
            }
   
            .content{
               text-align: center;
               margin-left: 70px;
               white-space: nowrap;
            }
   
            .icons{
               font-size: 50px;
            }
   
            .socialmedia{
               margin-left: 200px;
            }

            .phonepin{
               font-size: 40px;
               margin-top: 30px;
            }

            .email{
               width: 50px;
            }

            .pins{
               width: 50px;
            }
      
   }

 @media screen and (min-width:1021px) and (max-width:1250px){
      .first{     
         background-color: #163E5F;  
         display: flex;       
         color: white;
         list-style-type: none; 
         font-size: 15px;
         padding-right: 80px;
         
         
         } 

   
            .umuhinzi{
               margin-left: 130px;
            }
   
            .explore{
               text-align: center;
               margin-left: 100px;
            }
   
            .explorecontent, .exploretext{
               margin-top: -10px;
            }
   
   
   
            .contactstext{
               white-space: nowrap;
               margin-top: -9px;           
            }
   
            .contactheading{
               margin-left: 55px;
            }
   
            .contacts{
               margin-left: -50px;
            }
   
            .content{
               text-align: center;
               margin-left: 30px;
               white-space: nowrap;
            }
   
            .icons{
               font-size: 30px;
            }
   
            .socialmedia{
               margin-left: 100px;
            }
      
   } 
   
 @media screen and (min-width:1251px) and (max-width:1500px){
      .first{     
         background-color: #163E5F;  
         display: flex;     
         color: white;
         list-style-type: none; 
         font-size: 15px;
         padding-right: 80px;        
         
         } 
      

        
   
            .umuhinzi{
               margin-left: 130px;
            }
   
            .explore{
               text-align: center;
               margin-left: 100px;
            }
   
            .explorecontent, .exploretext{
               margin-top: -10px;
            }
   
   
   
            .contactstext{
               white-space: nowrap;
               margin-top: -9px;           
            }
   
            .contactheading{
               margin-left: 55px;
            }
   
            .contacts{
               margin-left: -50px;
            }
   
            .content{
               text-align: center;
               margin-left: 30px;
               white-space: nowrap;
            }
   
            .icons{
               font-size: 30px;
            }
   
            .socialmedia{
               margin-left: 100px;
            }
   } 

 














