body{
  margin-top: 6%;
}

#warga{
  width: 200px;
  height: 200px;
  border-radius: 60%;
}
#caren{
    width: 200px;
    height: 200px;
    border-radius: 60%;
  }
  #tracy{
    width: 200px;
    height: 200px;
    border-radius: 60%;
  }
  #linet{
    width: 200px;
    height: 200px;
    border-radius: 60%;
  }
  #christine{
    width: 200px;
    height: 200px;
    border-radius: 60%;
  }
  /* Team.css */

.team-container {
     background-color: rgb(24, 172, 180);
    border: 1px solid #ddd;
    color: white;
  
  

  }
  
  #heading-text {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .team-member {
    margin: 20px;
    width: calc(20% - 20px);
  }
  
  .team-member img {
    width: 90%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
  .team-name{
    padding-left: 15%;
  }
  
  .team-member p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
  
/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px 0;
  }

  .team  {
    display: flex;
    flex-direction: column;
 
  }

  
    
} 
/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 540px) {
  .team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px 0;
  }

  .team  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
  }

  
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px 0;
  }

  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }

  
}

/* Small devices (portrait tablets and large phones, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 912px){ */
  .team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px 0;
    gap: 70px;
  }

  .team  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }

 

/* Medium devices (landscape tablets, 992px and up) */
/* @media only screen and (min-width: 992px) {
  .team {
    display: flex;
    align-items: center;
    margin: 60px 0;
    gap: 90px;
  }

  .team-member {
    display: flex;
    width: 90px;
    margin: 1rem;
  }


  .team-member img {
    width: 100px;
    height: 100px;
    gap: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  .team-member p {
    text-align: center;
  } 

  
}
@media only screen and (min-width: 1280px) {
  .team {
    display: flex;
    align-items: center;
    margin: 60px 0;
    gap: 40px;
  }

  .team-member {
    display: flex;
    width: 100px;
    margin: 1rem;
  }


  .team-member img {
    width: 100px;
    height: 100px;
    gap: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  .team-member p {
    text-align: center;
  } 
} */
}